*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --color-bg-dark: #192a33;
    --color-bg-light: #1f3640;
    --color-gray: #a8bec9;
    --color-gray-dark:#7a8991;
    --color-yellow:#f2b238;
    --color-yellow-dark: #cd8d16;
    --color-blue: #30c4be;
    --color-blue-dark:#128c89;
    --shadaw-y:6px
    --shadaw-blue-dark: #128c89;
}
body{
    background-color: var(--color-bg-dark);
    color: var(--color-gray);
}
html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}
.App{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    max-width: 450px;
    width: 100%;
    margin-inline: auto;
    /* border: 1px solid #eee; */
    padding: 2rem 1rem;
}




/* UTILITES */
.card{
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 15px;
    background-color: var(--color-bg-light);
    text-align: center;
}
.text-lg{
    font-size: 1.25rem;
}
.text-xl{
    font-size: 1.5rem;
}
.text-2xl{
    font-size: 1.725rem;
}
.text-light{
    color: var(--color-gray-dark);
}
.text-blue{
    color: var(--color-blue);
}
.text-yellow{
        color: var(--color-yellow);
}
.btn{
    background: var(--color-gray);
    border: none;
    font-size: 1.125rem;
    font-weight: bold;
    padding: 12px 25px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius:10px ;
    color: var(--color-bg-light);
    display: inline-block;
    box-shadow:  0 6px 0 var(--color-bg-dark);
    margin-bottom: 6px;

}
.btn:hover{
    transform: translateY(-2px);
    
}
.btn:active{
    transform: translateY(4px);
}
.btn-yellow{
    background-color: var(--color-yellow);
    box-shadow: 0 6px 0 var(--color-yellow-dark);

}
.btn-blue{
    background-color: var(--color-blue);
    box-shadow: var(--color-blue-dark);
    
}
.btn_sm{
    --shadaw-y: 4px;
}
.btn-sm:hover{
    --shadaw-y:6px;
}
.btn-sm:active{
    --shadaw-y:3px;
}
/* ICONS */
.icon{
    display: inline-block;

}
.icon svg{
    fill: var(--color-gray);
    height: 50px;
    width: 50px;
    vertical-align: middle;
}
.icon-sm svg{
    height: 30px;
    width: 30px;
}
.icon-lg svg{
    height: 60px;
    width: 60px;
}
.icon-yellow svg{
    fill: var(--color-yellow);
}
.icon-blue svg{
    fill: var(--color-blue);
}
.icon-dark svg{
    fill: var(--color-bg-dark);
}

/* START */
.start{
    display: flex;
    flex-direction: column;
    gap: 25px;

}
.start__header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.start__players{
    background-color: var(--color-bg-dark);
    padding: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 8 rgba(0, 0,0,0.2 );
}
.start__players span{
    width: 50%;
    display: flex;
    align-items: center;
    justify-self:center;
    padding: 15px 10px;
    border-radius: 10px;
    cursor: pointer;

}
.start__players--active{
    background-color: var(--color-gray);
    box-shadow: 0 0 8px rgba(255,255,255,0.2);
}

/* BOARD */
.board__header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 50px;
}
.board__turn{
    border-radius: 5px;
    background-color: var(--color-bg-light);
    align-items: center;
    padding: 8px 12px;
    gap: 4px;
}
.board__reastart svg{
height: 20px;
display: flex;
align-items: center;
transform-origin: center;
transition: all 0.3s;
}
.board__reastart:hover svg{
    transform: rotate(180deg);
}
.board__body{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;

}
.board__body .card{
    height: 120px;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: inline 10px; ;
}
.board__body  .active.shadaw-blue{
    background-color: var(--color-blue);
}
.board__body  .active.shadaw-yallow{
    background-color: var(--color-yellow);
}

.shadaw-gray{
    box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);
}
.shadaw-blue{
    box-shadow: 0 8px 0 var(--color-blue-dark);
}
.shadaw-yallow{
    box-shadow: 0 8px 0  var(--color-yellow-dark);
}
.board__footer{
    margin-top: 10px;
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    gap: 20px;
}
.board__footer .card{
    gap: 15px;
}
.bg-light{
    background-color: var(--color-gray-dark);
    color: var(--color-bg-dark);
}
.bg-blue{
    background-color: var(--color-blue);
    color: var(--color-bg-dark);

}
.bg-yellow{
    background-color: var(--color-yellow);
    color: var(--color-bg-dark);

}
/* MODAL */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal__content{
    width: 100%;
   background-color: var(--color-bg-light);

}
/*  SCORE */
.score{
    text-align: center;

}
.scr-titre{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-top: 30px 0;
}
.score__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
/*  repeter */
.restart{
    text-align: center;

}
.restart__titre{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-bottom: 30px 0;
}
.restart_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
